<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhy.blogcodes" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CategoryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationViewActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/Theme.DesignDemo" >
        </activity>
        <activity
            android:name=".NavListViewActivity"
            android:label="@string/title_activity_base_content"
            android:theme="@style/Theme.DesignDemo" >
        </activity>
        <activity
            android:name=".mvp.UserLoginActivity"
            android:label="@string/title_activity_user_login" >
        </activity>
    </application>

</manifest>
